<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.MatchFootball.mapper.DoeunMapper"> <!-- 패키지.EmpMapper -->
<!-- <insert id="payMent" parameterType="paymentVO" >
insert into payment values(id=#{id},p_no=#{p_no},#{p_price},#{p_date})
</insert> -->
<!-- 프로필 조회  -->
<select id="getUser" parameterType="MembersVO" resultType="MembersVO">
select * from members
where id = #{id}
</select>

<!-- 프로필 입력 -->


<!-- 포인트 조회  -->
 <select id="myPoint" parameterType="MembersVO" resultType="MembersVO">
select point from members
where id = #{id}
</select>

<insert id="insertMem" parameterType="MembersVO">
    insert into members(
      email,
      name,
      gender,
      img,
      pos,
      pnum,
      lv,
      postCode,
      location1,
      location2,
      birth
      )
      
    values(
      #{email},
      #{name},
      #{gender},
      #{img},
      #{pos},
      #{pnum},
      #{level},
      #{postCode},
      #{address},
      #{location2},
      #{birth})
  </insert>

<update id="upMem" parameterType="MembersVO" >
		
	update members 
	set 
	name=#{name}, 
	gender=#{gender}, 
	postcode=#{postCode},
	location1=#{location1}, 
	location2=#{location2}, 
	pnum=#{pnum}, 
	email=#{email}, 
	birth=#{birth}, 
	img=#{img}, 
	lv= #{lv}, 
	pos=#{pos},
	author2 = #{author2}
  where id = #{id}

</update>

<!-- 총 포인트 확인 -->
<select id="selTpo" parameterType="PointVO" resultType="PointVO">
select sum(p.npoint) as sum from point p where p.p_id = #{p_id}
</select>

<!-- 메세지 보내기 -->
<insert id="sendMsg" parameterType="MessageVO">
<selectKey order="BEFORE" keyProperty="m_no"
         resultType="string">
         SELECT MAX(m_no)+1
         FROM message
      </selectKey>
      insert into message  values(m_no, to_id, send_id,m_title, m_con) 
values(#{m_no}, #{to_id}, #{send_id}, #{m_title}, #{m_con})
</insert>
<!-- 수신 메세지 확인 -->
<select id="tomsgList" parameterType="MessageVO" resultType="MessageVO">
select * from message where to_id = #{to_id}
</select>
</mapper>
