<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="co.company.MatchFootball.mapper.HyendongMapper"> <!-- 패키지.EmpMapper -->

	<!-- 아이디 소속된 팀 정보 -->
	<select id="idTeamSelect" parameterType="MembersVO"
		resultType="TeamVO">
		select *
		from members m
		join team t
		on m.t_name = t.t_name
		where m.id=#{id}
	</select>

	<!-- 팀리스트 조회 -->
	<select id="teamListSelect" resultType="TeamVO"
		parameterType="TeamVO">
		select * from( select a.*, rownum rn from (
		select t.*, (select count(1) from teamlist l where l.t_num=t.t_num) as teamListCount from team t order by t_num
		) a ) b where rn between #{first} and #{last}

	</select>
	<select id="selectCount" resultType="TeamlistVO" parameterType="TeamlistVO">
		select count(*) as c from  teamlist where t_num = #{t_num}
	</select>
	<!-- 팀 등록 -->
	<insert id="teamInsert" parameterType="TeamVO">
		<selectKey order="BEFORE" keyProperty="t_num"
			resultType="string">
			SELECT NVL(MAX(t_num),0)+1
			FROM team
		</selectKey>
		INSERT INTO TEAM (t_num,
		t_name,
		t_max,
		t_address,
		t_type,
		t_info,
		t_logo,
		t_hidden
		)
		VALUES(
		#{t_num},
		#{t_name},
		#{t_max},
		#{t_address},
		#{t_type},
		#{t_info},
		#{t_logo,jdbcType=VARCHAR},
		#{t_hidden})
	</insert>
	
	<!-- 팀 리스트 추가 -->
	<insert id="teamListInsert" parameterType="TeamlistVO">
		INSERT INTO teamList(
			t_num,
			id,
			t_author)
		VALUES(
			#{t_num},
			#{id},
			#{t_author}
		)
	</insert>

	<!-- 팀 단건 정보 조회 -->
	<select id="getTeam" parameterType="TeamVO" resultType="TeamVO">
		SELECT *
		FROM team
		WHERE t_num = #{t_num}
	</select>

	<!-- 팀원 조회 -->
	<select id="getTeamMembers" parameterType="TeamlistVO"
		resultType="TeamlistVO">
		select * from( select a.*, rownum rn from (
		select t.id, m.name, m.pos, t.t_author from teamlist t join members m on t.id = m.id where t.t_num = #{t_num} order by 4 desc
		) a ) b where rn between #{first} and #{last}
	</select>

	<select id="getTeamMemberss" parameterType="TeamlistVO"
		resultType="TeamlistVO">
		select * from teamlist where id = #{id}	and t_num = #{t_num}
	</select>

	<!-- 팀 정보 변경 -->
	<update id="teamUpdate">
		UPDATE TEAM
		SET t_name = #{t_name},
		t_max = #{t_max},
		t_address = #{t_address},
		t_type = #{t_type},
		t_logo = #{t_logo,jdbcType=VARCHAR},
		t_info = #{t_info},
		t_hidden = #{t_hidden}
		WHERE t_num = #{t_num}
	</update>

	<!-- 팀 공지 등록 -->
	<insert id="NoticeInsert" parameterType="TnoticeVO">
		<selectKey order="BEFORE" keyProperty="n_no"
			resultType="int">
			SELECT NVL(MAX(n_no),0)+1
			FROM tnotice
		</selectKey>
		INSERT INTO tnotice(
				n_no,
				t_num,
				t_content,
				t_title,
				t_id,
				t_date)
		VALUES (
			#{n_no},
			#{t_num},
			#{t_content},
			#{t_title},
			#{t_id},
			sysdate
		)
	</insert>
	
	<update id="NoticeUpdate">
		UPDATE tnotice
		SET t_title = #{t_title},
			t_content = #{t_content},
			t_date = sysdate
		WHERE n_no = #{n_no}
		
	</update>
	<!-- 팀 공지 삭제 -->
	<delete id="NoticeDelete" parameterType="TnoticeVO">
		DELETE FROM tnotice
		WHERE n_no = #{n_no}
	</delete>

	<!-- 팀원 수 -->
	<select id="countSelect" resultType="TeamlistVO">
		SELECT COUNT(*) AS TEAM
		FROM teamlist
		WHERE t_num = #{t_num}
	</select>

	<!-- 팀 공지 조회 -->
	<select id="NoticeSelect" parameterType="TnoticeVO" resultType="TnoticeVO">
		SELECT n_no, t_title, t_date
		FROM tnotice
		WHERE t_num = #{t_num}
		
	</select>
	
	<!-- 팀 공지 상세 조회 -->
	<select id="NoticeSelectInfo" parameterType="TnoticeVO" resultType="TnoticeVO">
		SELECT *
		FROM tnotice
		WHERE t_num = #{t_num} AND n_no = #{n_no}
	</select>
	
	<!-- 멤버리스트 조회 -->
	<select id="getMembers" parameterType="MembersVO"
		resultType="MembersVO">
		SELECT *
		FROM members
		WHERE t_num is null
	</select>
	<!-- 멤버 단건 조회 -->
	<select id="memberSelect" parameterType="MembersVO" resultType="MembersVO">
		SELECT *
		FROM members
		WHERE id = #{id}
	</select>

	<!-- 토너먼트 리스트 조회 -->
	<select id="tournamentListSelect" resultType="TournamentVO">
		SELECT *
		FROM tournament
		ORDER BY s_date
	</select>

	<!-- 토너먼트 정보 단건 조회 -->
	<select id="getTournament" parameterType="TournamentVO"
		resultType="TournamentVO">
		SELECT t.*, (select count(1) from tournamentteam l where l.t_no=t.t_no) as count FROM tournament t WHERE t_no = #{t_no}
	</select>

	<!-- 팀 토너먼트 참가 -->
	<insert id="tournamentInsert" parameterType="TournamentTeamVO">
		INSERT INTO tournamentteam(
			t_num,
			t_log,
			t_wn,
			t_no)
		VALUES(
			#{t_num},
			#{t_log},
			#{t_wn},
			#{t_no}
		)
	</insert>

	<!--team 내역 수 페이징 -->
	<select id="getCount1" resultType="int">
		SELECT COUNT(*) FROM team
	</select>

	<!--팀원 수-->
	<select id="getCount2" resultType="int">
		SELECT COUNT(*) FROM teamlist WHERE t_num = #{t_num}
	</select>

	<!-- 팀 초대 내역 수 페이징 -->
	<select id="getCount3" resultType="int">
		SELECT COUNT(*) FROM tinvite WHERE t_num = #{t_num}
	</select>
	
	<!-- 사진 페이징 -->
	<select id="getCount4" resultType="int">
		SELECT COUNT(*) FROM tgallery WHERE t_num = #{t_num}
	</select>
	<!-- 토너먼트 대진표 조회 -->
	<select id="tournamentPVP" parameterType="TournamentTeamVO"
		resultType="TournamentTeamVO">
		select t.t_name, tt.t_no from tournamentteam tt join team t on tt.t_num = t.t_num where t_no=#{t_no}
	</select>
	
	<!-- 멤버 팀 번호 변경 -->
	<update id="tNumUpdate">
	update members 
	set t_num = #{t_num} 
	where id=#{id}
	</update>
	
	<!-- 멤버 팀 널 변경 -->
	<update id="tNumNullUpdate">
	update members 
	set t_num = null 
	where id=#{id}
	</update>
	
	<!-- 사진 조회 -->
	<select id="picSelect" resultType="TgalleryVO">
	select * from( select a.*, rownum rn from (
		select img
		from tgallery
		where t_num = #{t_num}
	) a ) b where rn between #{first} and #{last}
	</select>
	
	<!-- 사진 삽입 -->
	<insert id="picInsert" parameterType="TgalleryVO">
		<selectKey order="BEFORE" keyProperty="g_no"
			resultType="int">
			SELECT NVL(MAX(g_no),0)+1
			FROM tgallery
		</selectKey>
		INSERT INTO tgallery (
			g_no,
		    t_num,
			img)
		VALUES(
			#{g_no},
			#{t_num},
			#{img}
		)
	</insert>
	
	<!-- 팀 가입 신청 인바이트 -->
	<insert id="teamInvite" parameterType="TinviteVO">
		<selectKey order="BEFORE" keyProperty="i_no"
			resultType="int">
			SELECT NVL(MAX(i_no),0)+1
			FROM tinvite
		</selectKey>
		INSERT INTO tinvite (
			i_no,
			t_num,
			id,
			i_age,
			i_pos,
			i_lv,
			i_manner)
		VALUES(
			#{i_no},
			#{t_num},
			#{id},
			#{i_age},
			#{i_pos},
			#{i_lv},
			#{i_manner}
		)
	</insert>
	
	<!-- 팀 가입 신청 조회 -->
	<select id="teamInviteSelect" resultType="TinviteVO">
	select * from( select a.*, rownum rn from (
		SELECT * 
		FROM tinvite
		WHERE t_num = #{t_num}
	) a ) b where rn between #{first} and #{last}
	</select>
	
	<select id="teamInviteSelectt" resultType="TinviteVO">
		SELECT * 
		FROM tinvite
		WHERE id = #{id}
	</select>
	
	<!-- 팀 초대에서 삭제 -->
	<delete id="teamInviteDelete" parameterType="TinviteVO">
		DELETE FROM tinvite
		WHERE t_num = #{t_num}
		AND id = #{id}
	</delete>
	
	<!-- 팀원 추방 -->
	<delete id="teamMemberOut" parameterType="TeamlistVO">
		DELETE FROM teamList
		WHERE id = #{id}
	</delete>
	
	<!-- 팀리스트 탈퇴 -->
	<delete id="teamListOut" parameterType="TeamlistVO">
		DELETE FROM teamlist
		WHERE id = #{id}
	</delete>
	
	<!-- 토너먼트 생성 -->
	<insert id="tournament" parameterType="TournamentVO">
		<selectKey order="BEFORE" keyProperty="t_no"
			resultType="string">
			SELECT NVL(MAX(t_no),0)+1
			FROM tournament
		</selectKey>
		INSERT INTO tournament(
			t_no,
			t_max,
			location,
			address,
			s_date,
			e_date,
			title,
			img,
			t_point,
			a_id
		)
		VALUES(#{t_no}, 
			   #{t_max}, 
			   #{location}, 
			   #{address},
			   #{s_date},
			   #{e_date},
			   #{title},
			   #{img},
			   NVL(#{t_point},0),
			   #{a_id})
	</insert>
	
	<!-- 토너먼트 참가 -->
	<insert id="teamTournaInsert" parameterType="TournamentTeamVO">
		INSERT INTO tournamentteam
		VALUES(#{t_num}, null, null, #{t_no})
	</insert>
	
	<!-- 토너먼트 참가 팀 수 -->
	<select id="teamTournaCount" resultType="TournamentTeamVO">
		SELECT count(*)
		FROM tournamentteam
		WHERE t_no = #{t_no}
	</select>
	
	<!-- 토너먼트 참가 비 -->
	<update id="payTournament">
		update members 
		set point=to_number(#{point})-100000 
		where id=#{id}
	</update>
	
	<!-- 토너먼트 상금 -->
	<update id="plusTournament">
		update tournament
		set t_point=to_number(#{t_point})+100000
		where t_no=#{t_no}
	</update>
	
	<!-- 토너먼트랑 팀 조인 조회-->
	<select id="joinTeamTournament" resultType="teamVO">
		select t.*, nvl((select 1 from tournamentteam
                 where t_num=t.t_num), 0) as sel
		from team t
		where t.t_num = #{t_num}
	</select>
	
	<!-- 멤버랑 팀 번호 조인 조회 -->
	<select id="memberTnum" resultType="membersVO">
		select t.*, nvl((select 1 from tinvite
                 where id=t.id), 0) as sel
		from members t
		where t.id = #{id}
	</select>
	
	<!-- 어느팀에 가입신청 했는지 조회-->
	<select id="whereJoin" resultType="TinviteVO" parameterType="TeamVO">
		select t.t_name 
		from tinvite e join team t 
		on e.t_num = t.t_num 
		where id=#{id}
	</select>
	
	<!-- 팀 매치 신청 내역 -->
	<select id="teamMatchWait" resultType="TeammatchVO">
		select so_num, so_name, m_no, mtype, f_name, f_address, price, substr(m_date, 0, 10) as m_date, substr(m_date, 12) as m_hour from teammatch where t_num = #{t_num}
		order by m_date
	</select>
	
	<!-- 팀 초대 하기 -->
	<insert id="teamInviteStatus" parameterType="ComeInviteVO">
	<selectKey order="BEFORE" keyProperty="c_seq"
			resultType="string">
			SELECT NVL(MAX(c_seq),0)+1
			FROM comeInvite
		</selectKey>
		INSERT INTO comeInvite
		VALUES (
			#{c_seq},
			#{id},
			#{t_num},
			#{c_tname},
			sysdate
		)
	</insert>
	
	<!-- 팀초대현황 조회 -->
	<select id="inviteSelect" resultType="ComeInviteVO">
		select *
		from comeInvite
		where id = #{id}
	</select>
	
	<!-- 팀장의 팀초대현황 조회 -->
	<select id="inviteSelect2" resultType="ComeInviteVO">
		select *
		from comeInvite
		where t_num = #{t_num}
	</select>
	
	<!-- 팀 초대 온거 거절하기 -->
	<delete id="invitePass">
		delete from comeInvite 
		where t_num = #{t_num}
		and id = #{id}
	</delete>
	
	<!-- 팀 평균 나이 구하기 -->
	<select id="avgAge" resultType="membersVO" parameterType="membersVO">
		select round(avg(nvl(trunc(months_between(sysdate, to_date(substr(birth, 1, 4), 'yyyy'))/12), 0)+1),1) as age from members where t_num=#{t_num}
	</select>
	
	<!-- 팀매치 취소 -->
	<delete id="teamMatchDelete">
		delete from teammatch 
		where m_no=#{m_no}
	</delete>
	
	<!-- 스카웃 있고없고 -->
	<select id="scoutInvite" resultType="membersVO">
		select t.id, nvl((select 1 from comeinvite
    					  where id=t.id), 0) as sel
		from members t
		where t.id = #{id}
	</select>
	
	<!-- 토너먼트 4강 진출 -->
	<update id="oneWin">
		update tournamentteam set t_wn='4강 진출' where t_num=#{t_num} and t_no=#{t_no}
	</update>
	
	<!-- 토너먼트 결승 진출 -->
	<update id="twoWin">
		update tournamentteam set t_wn='결승 진출' where t_num=#{t_num} and t_no=#{t_no}
	</update>
	
	<!-- 토너먼트 우승자 업뎃  -->
	<update id="threeWin">
		update tournamentteam set t_wn='우승' where t_num=#{t_num} and t_no=#{t_no}
	</update>
	
	<!-- 토너먼트 상금 전달 -->
	<update id="winTournament">
		update members set point = (select t_point from tournament where t_no=#{t_no}) 
		where id = (select id from members where id = (select b.id from tournamentteam a join teamlist b 
		                                               on a.t_num=b.t_num where a.t_wn='우승' 
		                                               and a.t_no=#{t_no} and b.t_author='팀장'))
	</update>
	
	<!-- 블랙팀 팀권한 수정 -->
	<update id="blackCancle">
		update team set author from where t_num=#{t_num}
	</update>
	
	<!-- 토너먼트 팀 카운트 -->
	<select id="tournamentTeamCount" resultType="TournamentTeamVO">
		select count(1) as count from tournamentteam where t_no=#{t_no}
	</select>
</mapper>
