<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.MatchFootball.mapper.HyeongjunMapper"> <!-- 패키지.EmpMapper -->
<!-- 용병리스트 뽑기 -->
   <select id="getbollowlist" parameterType="membersVO" resultType="membersVO">
   SELECT 
      id,name,gender,location1,pnum,manner,lv,pos
      from members
      where author2='Y'
   </select>
   <select id="bollowsearch" parameterType="membersVO" resultType="membersVO">
   SELECT id,name
   from members
   where id=#{id}
   </select>
   <select id="bollowinsert" parameterType="inviteVO" resultType="inviteVO">
   insert into invite(c_id,title,comm,s_date,r_id,m_no) values(#{c_id},#{title},#{comm},sysdate+9/24,#{r_id},#{m_no})
   </select>
   
   <select id="invitestore" parameterType="inviteVO" resultType="inviteVO">
      insert into invite value(#{id},sysdate,#{comm},#{check1})
   </select>
   <select id="login" resultType="membersVO">
      select *
      from members
      where id=#{id} and pw=#{pw}
   </select>
   <select id="fieldinsert" parameterType="fieldVO" resultType="fieldVO">
   	insert into field(f_id,name,ttype,location1,location2,state,price,img,comm) values(#{f_id},#{name},#{ttype},#{location1},#{location2},'사용가능',#{price},#{img},#{comm})
   </select>
   <select id="fieldlist" resultType="fieldVO">
   	select *
   	from field
   </select>
   <select id="fieldselect" resultType="map">
   select m_id "_id",title "title" ,type "type",starttime "start", endtime "end",comm "description",backgroundcolor "backgroundColor",id "id"
   from rfield
   where f_id=#{f_id}
   </select>
   <select id="fielddetailinsert" parameterType="rfieldVO" resultType="rfieldVO">
   		insert into rfield(f_id,starttime,endtime,title,type,backgroundcolor,comm,id,m_id) values(#{f_id},#{starttime},#{endtime},#{title},#{type},#{backgroundcolor},#{comm},#{id},#{m_id})
   </select>
   <select id="fboardlist" resultType="fboardVO">
   	 select f.* 
   <if test="id !=null"> 
          ,nvl((select likeit
	 		from likeit  
	 		where num=f.num
	 		and id=#{id}),0) as heartstate
 		</if>
 		 from fboard f
   </select>
   <select id="fielddetailupdate" parameterType="rfieldVO" resultType="rfieldVO">
   		update rfield set starttime=#{starttime},endtime=#{endtime} where title=#{title}
   </select>
   <select id="fielddetailupdate1" parameterType="rfieldVO" resultType="rfieldVO">
   		update rfield set starttime=#{starttime},endtime=#{endtime},comm=#{comm},type=#{type},backgroundcolor=#{backgroundcolor} where title=#{title}
   </select>
   <select id="fielddetaildelete" resultType="rfieldVO">
   	delete from rfield where comm=#{comm}
   </select>
  <!--  <select id="freelist" resultType="fboardVO">
   select f.* 
   <if test="id !=null"> 
          nvl((select likeit
	 		from likeit  
	 		where num=f.num
	 		and id=#{id}),0) as heartstate
 		</if>
     from fboard f
   </select> -->
   <select id="freeinsert" parameterType="fboardVO" resultType="fboardVO">
   	insert into fboard(id,num,title,b_date,comm) values(#{id},free_seq.nextval,#{title},sysdate+9/24,#{comm})
   </select>
   <select id="freeselect" parameterType="fboardVO" resultType="fboardVO">
   	select f.* 
   	 <if test="id !=null"> 
          ,nvl((select likeit
	 		from likeit  
	 		where num=f.num
	 		and id=#{id}),0) as heartstate
 		</if>
   	from fboard f
   	where num=#{num}
   </select>
   <select id="freedelete" parameterType="fboardVO">
   delete fboard where num=#{num}
   </select>
   <select id="freeupdate" parameterType="fboardVO" resultType="fboardVO">
   	update fboard set title=#{title},comm=#{comm} where num=#{num}
   </select>
   <select id="freecntupdate"  parameterType="fboardVO" resultType="fboardVO">
   	update fboard set cnt=#{cnt}+1 where num=#{num}
   </select>
   <select id="heartinsert" parameterType="likeitVO" resultType="likeitVO">
   	insert into likeit(seq,num,id,likeit) values(like_seq.nextval,#{num},#{id},#{likeit})
   </select>
   <select id="heartdelete" parameterType="likeitVO">
   delete from likeit where num=#{num} and id=#{id}
   </select>
   <select id="heartcntin" parameterType="likeitVO">
   update fboard set likeit=likeit+1 where num=#{num}
   </select>
   <select id="heartcntdn" parameterType="likeitVO">
   update fboard set likeit=likeit-1 where num=#{num}
   </select>
   <select id="heartupdate" parameterType="likeitVO" resultType="likeitVO">
   	update likeit set likeit=#{likeit} where num=#{num} and id=#{id}
   </select>
   <select id="invitelist" parameterType="inviteVO" resultType="inviteVO">
   select * from invite
   where c_id=#{c_id}
   </select>
   <select id="inviteselect" parameterType="membersVO" resultType="membernInvite">
   select i.c_id,i.s_date,m.pnum,m.t_num,i.check1,i.comm,i.title,i.check1,i.m_no from members m,invite i
   where m.id=i.c_id and i.r_id=#{id}  
   </select>
   <select id="updateinvite" parameterType="inviteVO" resultType="inviteVO">
   update invite set check1='수락완료' where r_id=#{r_id} and c_id=#{c_id}
   </select>
   <select id="updateinvite1" parameterType="inviteVO" resultType="inviteVO">
   update invite set check1='거절됨' where r_id=#{r_id} and c_id=#{c_id}
   </select>
   <select id="selectmatch" parameterType="teammatchVO" resultType="teammatchVO">
   	select * from teammatch where id=#{id}
   </select>
 <select id="deleteinvite" >
   		delete from invite where ((TRUNC(SYSDATE+9/24,'MI')-to_date(s_date,'YYYY-MM-DD HH24:MI:SS'))*1440)>=100
   </select>
   <select id="playerinsert" parameterType="membernInvite">
   	insert into players(m_no,t_num,id,state) values(#{m_no},#{t_num},#{id},'용병')
   </select>
 	<select id="likecheck" resultType="map">
 		select likeit
 		from likeit
 		where num=#{num}
 		and id=#{id}
 	</select>
	<select id="teammatchinsert" parameterType="teammatchVO">
	insert into teammatch(m_no,t_num,mtype,f_name,f_address,price,t_name,t_cap,t_level,m_info,m_date,m_hour,m_type,id)
	values(tmatch_seq.nextval,#{t_num},#{mtype},#{f_name},#{f_address},#{price},#{t_name},#{t_cap},#{t_level},#{m_info},#{m_date},#{m_hour},'모집',#{id}) 
	</select>
	<select id="pmatchinsert" parameterType="P_matchVO">
	insert into p_match(m_no,m_type,f_name,f_address,price,lv,p_max,m_id,m_date,m_hour,t_type,f_id)
	values(pmatch_seq.nextval,#{m_type},#{f_name},#{f_address},#{price},#{lv},#{p_max},#{id},#{m_date},#{m_hour},'경기장좋음',#{f_id})
	</select>
	<select id="fieldprice" parameterType="fieldVO" resultType="string">
	select price
	from field
	where f_id=#{f_id}
	</select>
	<select id="teamname" parameterType="teamVO" resultType="string">
	select t_name from
	team
	where t_num=#{t_num}
	</select>
	<select id="mtnum" parameterType="membersVO" resultType="string">
	select t_num
	from members
	where id=#{id}
	</select>
	<select id="fieldname" parameterType="fieldVO" resultType="string">
	select name
	from field
	where f_id=#{f_id}
	</select>
	<select id="fieldaddress" parameterType="fieldVO" resultType="string">
		select concat(location1,location2)
		from field
		where f_id=#{f_id}
	</select>
   <!-- <select id="heartselect" result="likeitVO">
   	select likeit
   	from likeit
   </select> -->
   

</mapper>