<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.MatchFootball.mapper.HyeongjunMapper"> <!-- 패키지.EmpMapper -->
<!-- 용병리스트 뽑기 -->
   <select id="getbollowlist" parameterType="membersVO" resultType="membersVO">
   SELECT 
      id,name,gender,location1,pnum,manner,lv,pos
      from members
      where author2='Y'
   </select>
   <select id="bollowsearch" parameterType="membersVO" resultType="membersVO">
   SELECT id,name
   from members
   where id=#{id}
   </select>
   <select id="bollowinsert" parameterType="inviteVO" resultType="inviteVO">
   insert into invite(c_id,title,comm,s_date,r_id) values(#{c_id},#{title},#{comm},sysdate,#{r_id})
   </select>
   
   <select id="invitestore" parameterType="inviteVO" resultType="inviteVO">
      insert into invite value(#{id},sysdate,#{comm},#{check1})
   </select>
   <select id="login" resultType="membersVO">
      select *
      from members
      where id=#{id} and pw=#{pw}
   </select>
   <select id="fieldinsert" parameterType="fieldVO" resultType="fieldVO">
   	insert into field(f_id,name,ttype,location1,location2,state,price,img,comm) values(#{f_id},#{name},#{ttype},#{location1},#{location2},'사용가능',#{price},#{img},#{comm})
   </select>
   <select id="fieldlist" resultType="fieldVO">
   	select *
   	from field
   </select>
   <select id="fieldselect" resultType="map">
   select m_id "_id",title "title" ,type "type",starttime "start", endtime "end",comm "description",backgroundcolor "backgroundColor"
   from rfield
   where f_id=#{f_id}
   </select>
   <select id="fielddetailinsert" parameterType="rfieldVO" resultType="rfieldVO">
   		insert into rfield(f_id,starttime,endtime,m_id,title,type,backgroundcolor,comm) values('field1',#{starttime},#{endtime},'100',#{title},#{type},#{backgroundcolor},#{comm})
   </select>
   <select id="fboardlist" resultType="fboardVO">
   	select *
   	from fboard
   </select>
   <select id="fielddetailupdate" parameterType="rfieldVO" resultType="rfieldVO">
   		update rfield set starttime=#{starttime},endtime=#{endtime} where title=#{title}
   </select>
   <select id="fielddetailupdate1" parameterType="rfieldVO" resultType="rfieldVO">
   		update rfield set starttime=#{starttime},endtime=#{endtime},comm=#{comm},type=#{type},backgroundcolor=#{backgroundcolor} where title=#{title}
   </select>
   <select id="fielddetaildelete" resultType="rfieldVO">
   	delete from rfield where comm=#{comm}
   </select>
   <select id="freelist" resultType="fboardVO">
   select * from fboard
   </select>
   <select id="freeinsert" parameterType="fboardVO" resultType="fboardVO">
   	insert into fboard(id,num,title,b_date,comm) values(#{id},free_seq.nextval,#{title},sysdate,#{comm})
   </select>
   <select id="freeselect" parameterType="fboardVO" resultType="fboardVO">
   	select * 
   	from fboard
   	where num=#{num}
   </select>
   <select id="freedelete" parameterType="fboardVO">
   delete fboard where num=#{num}
   </select>
   <select id="freeupdate" parameterType="fboardVO" resultType="fboardVO">
   	update fboard set title=#{title},comm=#{comm} where num=#{num}
   </select>
   <select id="freecntupdate"  parameterType="fboardVO" resultType="fboardVO">
   	update fboard set cnt=#{cnt}+1 where num=#{num}
   </select>
   <select id="heartinsert" parameterType="likeitVO" resultType="likeitVO">
   	insert into likeit(seq,num,id,likeit) values(like_seq.nextval,#{num},#{id},1)
   </select>
   <select id="heartdelete" parameterType="likeitVO" resultType="likeitVO">
   	update likeit set likeit=0 where num=#{num}
   </select>
   <select id="invitelist" parameterType="inviteVO" resultType="inviteVO">
   select * from invite
   where c_id=#{c_id}
   </select>
   <select id="inviteselect" parameterType="membersVO" resultType="membernInvite">
   select i.c_id,i.s_date,m.pnum,m.t_num,i.check1 from members m,invite i
   where m.id=i.c_id and i.r_id=#{id}
   </select>
   <select id="deleteinvite" parameterType="inviteVO">
   		delete from invite where ((TRUNC(SYSDATE,'MI')-to_date(s_date,'YYYY-MM-DD HH24:MI:SS'))*1440)>=10;
   </select>

   <!-- <select id="heartselect" result="likeitVO">
   	select likeit
   	from likeit
   </select> -->
   

</mapper>