<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.MatchFootball.mapper.HyeongjunMapper"> <!-- 패키지.EmpMapper -->
<!-- 용병리스트 뽑기 -->
   <select id="getbollowlist" parameterType="membersVO" resultType="membersVO">
   SELECT 
      id,name,gender,location1,pnum,manner,lv,pos
      from members
      where author2='Y'
   </select>
   <select id="bollowsearch" parameterType="membersVO" resultType="membersVO">
   SELECT id,name
   from members
   where id=#{id}
   </select>
   
   <select id="invitelist" parameterType="inviteVO" resultType="inviteVO">
   SELECT i.c_id,m.name,i.s_date,m.pnum,i.comm,i.check1,m.t_name
   from members m,invite i
   where i.r_id=#{r_id}
   </select>
   <select id="invitestore" parameterType="inviteVO" resultType="inviteVO">
      insert into invite value(#{id},sysdate,#{comm},#{check1})
   </select>
   <select id="login" resultType="membersVO">
      select id,pw
      from members
      where id=#{id} and pw=#{pw}
   </select>
   <select id="fieldinsert" parameterType="fieldVO" resultType="fieldVO">
   	insert into field(f_id,name,ttype,location1,location2,state,price,img,comm) values(#{f_id},#{name},#{ttype},#{location1},#{location2},'사용가능',#{price},#{img},#{comm})
   </select>
   <select id="fieldlist" resultType="fieldVO">
   	select *
   	from field
   </select>
   <select id="fieldselect" resultType="map">
   select m_id "_id",title "title" ,type "type",starttime "start", endtime "end",comm "description",backgroundcolor "backgroundColor"
   from rfield
   </select>
   <select id="fielddetailinsert" parameterType="rfieldVO" resultType="rfieldVO">
   		insert into rfield(f_id,starttime,endtime,m_id,title,type,backgroundcolor,comm) values('field1',#{starttime},#{endtime},'100',#{title},#{type},#{backgroundcolor},#{comm})
   </select>
   <select id="fboardlist" resultType="fboardVO">
   	select *
   	from fboard
   </select>
   <select id="fielddetailupdate" parameterType="rfieldVO" resultType="rfieldVO">
   		update rfield set starttime=#{starttime},endtime=#{endtime} where title=#{title}
   </select>
   <select id="fielddetailupdate1" parameterType="rfieldVO" resultType="rfieldVO">
   		update rfield set starttime=#{starttime},endtime=#{endtime},comm=#{comm},type=#{type},backgroundcolor=#{backgroundcolor} "backgroundColor" where title=#{title}
   </select>
   <select id="fielddetaildelete" resultType="rfieldVO">
   	delete from rfield where comm=#{comm}
   </select>
   

</mapper>