<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.MatchFootball.mapper.SeemooMapper">

<!-- 유저관리 -->

	<!-- 유저전체조회 -->
	<select id="memberList" resultType="MembersVO">
		SELECT * FROM MEMBERS
	</select>

	<!-- 유저단건조회 -->
	<select id="members" parameterType="MembersVO" resultType="MembersVO">
		SELECT * FROM MEMBERS WHERE ID = #{id}
	</select>
	
	<!-- 유저 권한, 권한2 수정 -->
	<select id="membersupdate" parameterType="MembersVO" resultType="MembersVO">
		UPDATE MEMBERS SET AUTHOR = #{author}, AUTHOR2 = #{author2} WHERE ID = #{id}     
	</select>
	
	<!-- 유저삭제 -->
	<select id="membersdelete" parameterType="MembersVO">
		DELETE FROM MEMBERS WHERE ID = #{id}
	</select>
	
<!-- 팀관리 -->

	<!-- 팀조회 -->
	<select id="teamList" resultType="TeamVO">
		SELECT * FROM TEAM
	</select>

	<!-- 팀단건조회 -->
	<select id="teams" parameterType="TeamVO" resultType="TeamVO">
		SELECT * FROM TEAM WHERE T_NUM = #{t_num}
	</select>
	
	<!-- 팀 권한 수정 -->
	<select id="teamsupdate" parameterType="TeamVO" resultType="TeamVO">
		UPDATE TEAM SET T_AUTHOR = #{t_author} WHERE T_NUM = #{t_num}     
	</select>
	
	<!-- 팀 삭제 -->
	<select id="teamsdelete" parameterType="TeamVO">
		DELETE FROM TEAM WHERE T_NUM = #{t_num}
	</select>
	
	<!-- 블랙팀 조회 -->
	<select id="blackteamList" resultType="BlackTeamListVO">
		SELECT T.T_NUM, T.T_NAME, T.T_LEVEL, T.T_AUTHOR, T.T_M, B.STOPDATE, B.STOPREASON FROM TEAM T JOIN BLACKTEAM B ON T.T_NUM = B.T_NUM
	</select>
	
<!-- 매니저관리 -->

	<!-- 매니저조회 -->
	<select id="managerList" resultType="ManagersVO">
		SELECT MEMBERS.ID, NAME, GENDER, PNUM, AUTHOR, POINT, COMM FROM MEMBERS, MANAGER WHERE MEMBERS.ID=MANAGER.ID
	</select>
	
	<!-- 매니저 승인|대기조회 -->
	<select id="managerapplyList" resultType="ManagerapplyVO">
		SELECT MEMBERS.ID, NAME, BIRTH, GENDER, PNUM, AUTHOR, BIRTH, APPLY, COMM FROM MEMBERS, MANAGERAPLY WHERE MEMBERS.ID=MANAGERAPLY.ID
	</select>
	
	<!-- 공지사항 -->
	
</mapper>
