<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.MatchFootball.mapper.SeemooMapper"> <!-- 패키지.EmpMapper -->
	
<!-- 유저 -->	
	<!-- 부분조회 -->
	<select id="memberList" resultType="MembersVO">
	SELECT ID, NAME, PNUM, AUTHOR, T_NAME, MANNER, POINT FROM MEMBERS
	</select>

</mapper>
