<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.company.MatchFootball.mapper.SungjunMapper"> <!-- 패키지.EmpMapper -->
	<!-- 선택 매치 가격 조회 -->
	<select id="price" resultType="P_matchVO">
		select price from p_match where
		m_no=#{m_no}
	</select>
	<!--로그인 한사람 포인트 조회 -->
	<select id="pointssss" resultType="Integer">
		select point
		from members
		where
		id= #{id}
	</select>
	<!--로그인 한사람 팀 조회 -->
	<select id="t_numsel" resultType="int">
		select t_num
		from members
		where
		id= #{id}
	</select>
	<!--로그인 한사람 팀장인지 조회 팀 번호 -->
	<select id="cappp" resultType="MembersVO"
		parameterType="MembersVO">
		select a.id,a.name,a.t_num,b.t_author
		from
		members a ,
		teamlist b
		where a.id= b.id
		and b.id=#{id} and
		b.t_author='팀장'
	</select>
	<!--해당 날 개인매치가 있는지 없는지 조회 -->
	<select id="daysel" resultType="int">
		select count(*) as day from p_match
		where substr(m_date,1,10) =
		#{m_date}
		and to_date(m_date,'yyyy-mm-ddhh24:mi')<![CDATA[ >= sysdate +9/24]]>
	</select>
	<!--해당 날 팀매치가 있는지 없는지 조회 -->
	<select id="daysel1" resultType="int">
		select count(*) as day from teammatch
		where substr(m_date,1,10) =
		#{m_date}
		and to_date(m_date,'yyyy-mm-ddhh24:mi')<![CDATA[ >= sysdate +9/24]]>
	</select>

	<!--해당 날의 개인 매치 조회 및 신청 인원 -->
	<select id="pmatchselect" parameterType="P_matchVO"
		resultType="P_matchVO">
		select
		d.m_no,d.m_type,d.f_name,d.f_address,d.price,d.lv,d.p_max,d.m_id,
		substr(d.m_date,12, 5) as m_hour,substr(d.m_date, 1,10) as
		m_date,d.t_type,d.f_id ,
		nvl(f,0)f
		<if test="id !=null">
			,nvl((select 1 from pplayers
			where m_no=d.m_no and
			id=#{id}),0)
			as sel
		</if>
		from p_match d, ( select a.m_no ,count(*) f
		from p_match a,pplayers b
		where a.m_no = b.m_no
		group by a.m_no )c
		where d.m_no = c.m_no(+)
		and
		substr(m_date,1,10) = #{m_date}
		and to_date(m_date,'yyyy-mm-ddhh24:mi')<![CDATA[ >= sysdate +9/24]]>
		order by m_hour asc
	</select>
	<!--개인 매치 신청 하고 포인트 차감 하고 내역 입력 -->
	<insert id="matchapply" parameterType="PplayersVO">
		insert into pplayers
		values(#{m_no},#{id})
	</insert>
	<update id="pointminus" parameterType="MembersVO">
		update members set
		point =
		point -#{point}
		where id= #{id}
	</update>
	<insert id="pointcomm" parameterType="MembersVO">
		insert into point
		(p_seq,p_id,npoint,p_date,p_con)
		values(point_seq.nextval
		,#{p_id},#{npoint},sysdate,#{p_con})
	</insert>
	<update id="pointplus">
		update fieldmanager set point = point + #{point}
		where f_id = #{f_id}
	</update>
	<!--point 매니저비 입금 내역 -->
	<select id="pointconselect" parameterType="PointVO"
		resultType="PointVO">
		select * from point
		where p_id =#{p_id} and p_con= '매니저 비' and <![CDATA[rownum <=4]]>
		order by p_date desc
	</select>
	<!--point 전체 내역 -->
	<select id="pointallselect" parameterType="PointVO"
		resultType="PointVO">
		SELECT * FROM point
		where p_id = #{p_id} and p_con= '매니저 비'
	</select>
	<!--p_match 내역 수 페이징 -->
	<select id="getCount1" resultType="int">
		SELECT COUNT(*) FROM p_match
		where m_id = #{m_id}
	</select>
	<!--team_match 내역 수 페이징 -->
	<select id="getCount2" resultType="int">
		SELECT COUNT(*) FROM teammatch
		where id = #{id}
	</select>
	<!-- 선택개인매치 조회 -->
	<select id="pmatchlist1" parameterType="P_matchVO"
		resultType="P_matchVO">
		select
		d.m_no,d.m_type,d.f_name,d.f_address,d.price,d.lv,d.p_max,d.m_id,
		substr(d.m_date, 12, 5) as m_hour,substr(d.m_date, 1,10) as m_date,
		substr(d.m_date, 1,4) as m_year,substr(d.m_date, 6,2) as
		m_month,substr(d.m_date,9, 2) as m_day,
		substr(d.m_date, 12,2) as m_ho,
		d.t_type,d.f_id,nvl(f,0)f
		<if test="id !=null">
			,nvl((select 1 from pplayers
			where m_no=d.m_no and
			id=#{id}),0)
			as sel
		</if>
		from p_match d, ( select a.m_no
		,count(*) f
		from p_match a,pplayers b
		where a.m_no = b.m_no
		group by
		a.m_no )c
		where d.m_no = c.m_no(+)
		and
		d.m_no = #{m_no}
	</select>
	<!--해당 날 개인매치 검색 -->
	<select id="pmatchlist3" parameterType="P_matchVO"
		resultType="P_matchVO">
		select * from p_match
		where m_date = #{m_date}
	</select>
	<!-- 해당 날 팀 매치 리스트 -->
	<select id="tmatchselect" parameterType="TeammatchVO"
		resultType="TeammatchVO">
		select
		a.m_no,a.t_num,a.mtype,a.f_name,a.f_address,a.price,a.t_name,a.t_wn
		,a.t_cap,a.t_level,a.m_info,
		substr(a.m_date,1,10) as
		m_date,substr(a.m_date,12,5) as m_hour,a.m_type,a.id,a.so_num
		,b.t_name,b.t_address,b.t_type,b.t_age,b.t_level,b.t_info,b.t_logo,b.t_m,b.t_wn
		<if test="id !=null">
			,nvl((select 1
			from members a , teamlist b
			where a.id= b.id
			and b.id=#{id} and b.t_author='팀장'),0)
			as sel
		</if>
		from teammatch a,team b
		where a.t_num = b.t_num
		and
		substr(a.m_date,1,10) = #{m_date}
		and
		to_date(m_date,'yyyy-mm-ddhh24:mi')<![CDATA[>= sysdate +9/24]]>
		order by m_hour asc

	</select>
	<!--팀 매치 정보 조회 -->
	<select id="teammatchinfo1" parameterType="TeammatchVO"
		resultType="TeammatchVO">
		select * from teammatch
		where t_num = #{t_num}
	</select>
	<!--pplayers 참여아이디 조회 -->
	<select id="pplayersselect" parameterType="PplayersVO"
		resultType="PplayersVO">
		select * from pplayers
		where id=#{id}
	</select>
	<!--팀 조회 -->
	<select id="teamselect" parameterType="TeamVO"
		resultType="TeamVO">
		select * from team
		where t_num =#{t_num}
	</select>
	<!--해당 팀 매치 정보 조회 -->
	<select id="teammatchinfo" parameterType="TeammatchVO"
		resultType="TeammatchVO">
		select * from teammatch
		where m_no = #{m_no} and <![CDATA[rownum <=4]]>
		order by m_date desc ,m_hour asc
	</select>
	<!-- 매칭 신청자 팀 이름 조회 -->
	<select id="teamname" parameterType="MembersVO"
		resultType="MembersVO">
		select
		a.*,b.t_name,b.t_logo,b.t_info,b.t_address,b.t_age,b.t_wn,b.t_level
		from members a , team b
		where a.t_num =
		b.t_num and a.id = #{id}
	</select>

	<!--신청팀 등록 선수 선발 명단조회 -->
	<select id="playerselect" parameterType="PlayersVO"
		resultType="PlayersVO">
		select * from players
		where t_num = #{t_num} and m_no=
		#{m_no}
	</select>

	<!--매니저 개인매치 일정 조회 -->
	<select id="pmatchlist" parameterType="P_matchVO"
		resultType="P_matchVO">
		select * from (select
		d.m_no,d.m_type,d.f_name,d.f_address,d.price,d.lv,d.p_max,d.m_id,
		substr(d.m_date, 12, 5) as m_hour,d.m_date,
		substr(d.m_date, 1,4) as m_year,substr(d.m_date, 6,2) as
		m_month,substr(d.m_date,9, 2) as m_day,
		substr(d.m_date, 12,2) as m_ho,
		d.t_type,d.f_id,nvl(f,0)f
			,nvl((select 1 from pplayers
			where m_no=d.m_no),0)
			as sel
		from p_match d, ( select a.m_no
		,count(*) f
		from p_match a,pplayers b
		where a.m_no = b.m_no
		group by
		a.m_no )c
		where d.m_no = c.m_no(+)
		and
		d.m_id = #{m_id}
		order by m_date desc)
		where <![CDATA[rownum <=7]]>
	</select>
	<!--매니저 개인매치 일정 전체 조회 -->
	<select id="pmatchselectall" parameterType="P_matchVO"
		resultType="P_matchVO">
		select * from( select a.*, rownum rn from (
		select
		d.m_no,d.m_type,d.f_name,d.f_address,d.price,d.lv,d.p_max,d.m_id,
		substr(d.m_date, 12, 5) as m_hour,d.m_date,
		substr(d.m_date, 1,4) as m_year,substr(d.m_date, 6,2) as
		m_month,substr(d.m_date,9, 2) as m_day,
		substr(d.m_date, 12,2) as m_ho,
		d.t_type,d.f_id,nvl(f,0)f
			,nvl((select 1 from pplayers
			where m_no=d.m_no),0)
			as sel
		from p_match d, ( select a.m_no
		,count(*) f
		from p_match a,pplayers b
		where a.m_no = b.m_no
		group by
		a.m_no )c
		where d.m_no = c.m_no(+)
		and
		d.m_id = #{m_id}
		order by m_date desc
		)a ) b where
		rn between #{first} and #{last}
	</select>
	<!--매니저 팀 매치 내역 조회 -->
	<select id="tmatchlist" parameterType="TeammatchVO"
		resultType="TeammatchVO">
		select * from(select *from teammatch
		where id=#{id}
		order by m_date desc
		,m_hour asc )
		where <![CDATA[rownum <=5]]>
	</select>
	<!--매니저 팀 매치 내역 전체 조회 -->
	<select id="tmatchselectall" parameterType="TeammatchVO"
		resultType="TeammatchVO">
		select * from( select a.*, rownum rn from (
		select * from
		teammatch
		where id = #{id}
		order by m_date desc)
		a ) b where rn between
		#{first} and #{last}
	</select>
	<!-- t_num 조회 -->
	<select id="tnumsel" parameterType="TeamVO" resultType="TeamVO">
		select *
		from team where t_num = #{t_num}
	</select>
	<!--so_num 조회 -->
	<select id="sonumsel" parameterType="TeamVO" resultType="TeamVO">
		select *
		from team where t_num = #{so_num}
	</select>

	<!--매치에 매니저 신청 -->
	<insert id="matchmanagerapp">
		insert into mmatchlist(id,match_info)
		values(#{id},#{m_no})
	</insert>
	<!--주장 조회 -->
	<select id="capselect" parameterType="TeamlistVO"
		resultType="TeamlistVO">
		select * from teamlist
		where t_num = #{t_num} and t_author
		='팀장'
	</select>
	<!--자기 팀 선수 조회 -->
	<select id="teamlist" parameterType="MembersVO"
		resultType="MembersVO">
		select a.*,b.name,b.pos
		from teamlist a , members b
		where
		a.id = b.id
		and a.t_num = #{t_num}
	</select>
	<!--멤버 조회 -->
	<select id="memberselect" parameterType="MembersVO"
		resultType="MembersVO">
		select * from members
		where id=#{id}
	</select>
	<!--개인매치 선수목록 조회 -->
	<select id="matchmember" parameterType="MatchMember"
		resultType="MatchMember">
		select * from members
		where id in(
		select id from pplayers
		where pplayers.m_no =#{m_no})
	</select>
	<!--팀 매치 신청 하고 팀선수 등록하고 포인트 차감 하고 내역 입력 -->
	<update id="teammatchup">
		update teammatch set so_num = #{t_num} , so_name =
		#{so_name}
		where m_no = #{m_no}
	</update>
	<insert id="teammatchin">
		<foreach collection="id" item="dd" open="INSERT ALL "
			separator=" " close="SELECT * FROM DUAL">
			into players(m_no,t_num,id)
			values(#{m_no},#{t_num},#{dd})
		</foreach>
	</insert>
	<update id="pointminus1" parameterType="MembersVO">
		update members set point = point - (#{point}/2)
		where id=#{id}
	</update>
	<!-- <insert id="pointcomm" parameterType="MembersVO"> insert into point 
		(p_seq,p_id,npoint,p_date,p_con) values(point_seq.nextval ,#{p_id},#{npoint},sysdate,#{p_con}) 
		</insert> -->
	<!--매니저 신청 -->
	<insert id="mapply" parameterType="manageraplyVO">
		insert into
		manageraply(id,name,gender,pnum,birth,comm,loc,author)
		values(#{id},#{name},#{gender},#{pnum},#{birth},#{comm},#{loc},#{author})
	</insert>
	<!-- 멤버테이블에 author 바꾸기 -->
	<update id="mapplymem" parameterType="MembersVO">
		update members set author =
		'wait' where id=#{id}
	</update>
	<!--매니저 신청한지안한지 조회 -->
	<select id="chekma" resultType="int">
		select 1 from manageraply
		where
		id=#{id}
	</select>
	<!--매니저 신청 취소 -->
	<delete id="delapply" parameterType="ManageraplyVO">
		delete from manageraply
		where id =#{id}

	</delete>
	<!--팀 매치 매니저 신청 -->
	<insert id="tmapply" parameterType="MembersVO">
		insert into
		mmatchlist(id,match_info)
		values(#{id},#{match_info})
	</insert>
	<!--팀 매치 매니저 신청 조회 -->
	<select id="tmapplysel" resultType="int">
		select 1 from mmatchlist where id= #{id} and match_info= #{match_info}
	</select>
	<!--매니저 없는 매치 -->
	<select id="nomanager" parameterType="TeammatchVO"
		resultType="TeammatchVO">
		select m_no, f_name,m_date,f_address from (select * from
		(select 'a',m_no,f_name,
		m_date, f_address from teammatch
		where id='없음'
		union all
		select
		'b',m_no,f_name, m_date, f_address from p_match where
		m_id='없음')
		where
		to_date(m_date,'yyyy-mm-ddhh24:mi') >= sysdate +9/24)
		order by
		m_date
		desc
	</select>
	<!--매니저 없는 해당 매치 조회 -->
	<select id="nomanagersel" parameterType="TeammatchVO"
		resultType="TeammatchVO">
		select m_no, f_name,m_date,f_address from (select * from
		(select 'a',m_no,f_name,
		m_date, f_address from teammatch
		where id='없음'
		union all
		select
		'b',m_no,f_name, m_date, f_address from p_match where
		m_id='없음')
		where m_no= #{m_no}
		and to_date(m_date,'yyyy-mm-ddhh24:mi')
		>= sysdate +9/24)
		order by
		m_date
		desc
	</select>
	<!--개인 리뷰 선수 조회 & 매치 번호로 매치 정보 조회 -->
	<select id="pmreview" parameterType="MembersVO"
		resultType="MembersVO">
		select a.name,a.id,b.m_no from members a,pplayers b
		where
		a.id=b.id and b.m_no = #{m_no}
	</select>
	<select id="pmreviewmat" parameterType="P_matchVO"
		resultType="P_matchVO">
		select * from p_match
		where m_no = #{m_no}
	</select>
	<!-- 리뷰 등록된 개인 매치 조회 -->
	<select id="selrrrr" parameterType="PreviewVO"
		resultType="PreviewVO">
		select * from preview
		where m_no=#{m_no}
	</select>

	<!--뛴 선수 리뷰 등록 -->
	<insert id="pmreviewapp">
		<foreach collection="list" item="vo" open="INSERT ALL "
			separator=" " close="SELECT * FROM DUAL">
			into preview(id,manner,m_id,m_no)
			values(#{vo.id},#{vo.manner},#{vo.m_id},#{vo.m_no})
		</foreach>
	</insert>
	<update id="reviewup">
		update p_match set review = 'Y' where m_no =#{m_no}
	</update>
	<!--같은 시간대 개인매치 예약 찾기 -->
	<select id="seltime" resultType="int">
		select 1 from p_match a ,
		pplayers b
		where a.m_no = b.m_no
		and substr(a.m_date,1,13) =
		substr(#{m_date},1,13) and id= #{id}
	</select>
	<!--같은 시간대 팀매치 예약 찾기 -->
	<select id="selteamtime" resultType="int">
		select 1 from teammatch
		where so_num = #{t_num}
		and substr(m_date,1,13) = substr(#{m_date},1,13)
	</select>
	<!--해당 매치 조회 -->
	<select id="matchsell" resultType="P_matchVO">
		select * from p_match where
		m_no=#{m_no}
	</select>
	<!--팀 매치 정보 조회 -->
	<select id="teammatchselect" resultType="TeammatchVO">
		select * from teammatch
		where m_no= #{m_no}
	</select>
	<!--개인 레벨 조회 -->
	<select id="lvsel" resultType="int">
		select lv from members where id=
		#{id}
	</select>
	<!--개인매치 레벨 조회 -->
	<select id="lvpmatch" resultType="int">
		select lv from p_match where
		m_no= #{m_no}
	</select>
	<!--팀매치 최소인원 조회 -->
	<select id="minteam" resultType="TeammatchVO">
		select min from teammatch where
		m_no= #{m_no}
	</select>
	<!--팀매치 레벨 조회 -->
	<select id="lvteammatch" resultType="int">
		select t_level from
		teammatch where m_no= #{m_no}
	</select>
	<!--팀 매치 리뷰 작성 및 팀 매치 리뷰작성 y로 업데이트 -->
	<insert id="teamreview">
		<foreach collection="list" item="vo" open="INSERT ALL "
			separator=" " close="SELECT * FROM DUAL">
			insert into review
			values(#{vo.t_num},#{vo.m_no},#{vo.score},#{vo.manager_id},#{vo.manner})
		</foreach>
	</insert>
	<update id="teamreviewup">
		update teammatch set review ='Y' where m_no =#{m_no}
	</update>
</mapper>
